@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-lao), ui-sans-serif, system-ui; /* ใช้ฟอนต์ลาวเป็นหลัก */
}

body {
  background: var(--background);
  color: var(--foreground);
  /* ใช้ตัวแปรฟอนต์ที่เราตั้งไว้ใน layout.tsx */
  font-family: var(--font-noto-lao), Arial, sans-serif; 
}